.bg-salle{
    background-image: url('../../assets/images/salle.jpg');
    background-size: cover;
}
.bg-connexion{
    background-image: url('../../assets/images/bg-connexion.png');
    background-size: cover;
}