.header{
    position: fixed;
    bottom: 0;
    z-index: 1000;
    height: 60px;
    width: 100vw;
    box-shadow: 0 0 20px #F2F2F0;
}
@media screen and (min-width: 1024px){
    .header{
        height: 100px;
        top: 0;
        bottom: unset;
    }
}