.banner{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 25vw;
    background-color: beige;
}

.banner img{
    width: 100%;
    height: 100%;
}

.background{
    background-image: url("/background_accueil.png");

}

.coffee_shop_description{
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 20vw;
}

.row_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100vw;
    height: 20vw;
    margin: 2vw;

}

.co_working_description{
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 20vw;
}

.row_reverse_content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    width: 100vw;
    height: 20vw;
    margin: 2vw;

}

.button{
    width: 5vw;
    height: 2vw;
    background-color: whitesmoke;
    border: solid gray 2px;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 40vw;
    height: 20vw;
    margin: 5vw;
}

.div_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 40vw;
    height: 20vw;
    margin: 5vw;
}

.image{
    width: 60%;
    height: auto;
}
