button.button:hover {
  color: #f2f2f0;
  fill: #f2f2f0;
  background-color: #1e4e59 !important;
  border-color: #f2f2f0;
}
.bg {
  background: url("./assets/images/bg-coworking.png") no-repeat;
  background-size: contain !important;
  background-position: right bottom;
}
.bg-reverse {
  background: url("./assets/images/bg-coworking-reverse.png") no-repeat;
  background-size: contain !important;
  background-position: right bottom;
}

.block-text {
  background-color: white;
  border-radius: 5px;
  padding: 5% !important;
}
.actionButton {
  display: flex;
  align-items: center;
}
.actionButton:hover {
  cursor: pointer;
}
.productMiniature:hover {
  cursor: pointer;
}
.cls-1 {
  fill: #f2f2f0;
}
.cls-2 {
  fill: #d9c39a;
}
.cls-3 {
  fill: #0d0d0d;
}
.cls-4 {
  font-size: 20px;
  font-family: Roboto-Regular, Roboto;
}
.cls-5 {
  stroke: #1e4e59;
  fill: #f2f2f0;
  stroke-width: 5px;
}
.cls-5:hover {
  cursor: pointer;
}
.cls-6 {
  stroke: #d9be3b;
  fill: #f2f2f0;
  stroke-width: 5px;
}
.cls-7 {
  stroke: #707070;
  fill: #707070;
  stroke-width: 5px;
}
.cls-8 {
  font-family: "Nature Spirit";
  font-size: 32px;
}
path.selected {
  fill: #1e4e59;
}
path.available {
  stroke: #1e4e59;
}
path.partially {
  stroke: #d9be3b;
}
path.unavailable {
  stroke: #707070;
  fill: #707070;
}

@media screen and (min-width: 1024px) {
  .intro {
    padding: 180px 5% 150px !important;
    background-size: contain !important;
  }
  .row {
    flex-direction: row !important;
  }
  .row-reverse {
    flex-direction: row-reverse !important;
  }
  .space-around {
    justify-content: space-around;
  }
  .space-between {
    justify-content: space-between;
  }
  .mb-0 {
    margin-bottom: 0 !important;
  }
  .mt-130 {
    margin-top: 130px;
  }
  .align-top {
    align-items: flex-start;
  }
  .align-center {
    align-items: center;
  }
  .lg-15 {
    width: 15% !important;
  }
  .lg-25 {
    width: 25% !important;
  }
  .lg-30 {
    width: 30%;
  }
  .lg-40 {
    width: 40%;
  }
  .lg-60 {
    width: 60% !important;
  }
  .top-40vh {
    top: 40vh !important;
  }
  .top-15vh {
    top: 15vh !important;
  }
  .left-20 {
    left: 20% !important;
  }
}
input:focus,
textarea:focus {
  border-color: #1e4e59 !important;
  box-shadow: 0 0 0 1px #1e4e59 !important;
}
input[type="checkbox"]:checked + .css-nlndso {
  background-color: #1e4e59 !important;
  border-color: #1e4e59 !important;
}
input[type="checkbox"][aria-checked="mixed"] + .css-nlndso {
  background-color: #1e4e59 !important;
  border-color: #1e4e59 !important;
}
